In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
with open("project_data.csv") as f:
    data_df = pd.read_csv(f, sep=",")

data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12330 non-null  int64
 1   Administrative           12330 non-null  int64
 2   Administrative_Duration  12330 non-null  float64
 3   Informational            12330 non-null  int64
 4   Informational_Duration   12330 non-null  float64
 5   ProductRelated           12330 non-null  int64
 6   ProductRelated_Duration  12330 non-null  float64
 7   BounceRates              12330 non-null  float64
 8   ExitRates                12330 non-null  float64
 9   PageValues               12330 non-null  float64
 10  SpecialDay               12207 non-null  float64
 11  Month                    12330 non-null  object
 12  OperatingSystems         12330 non-null  int64
 13  Browser                  12146 non-null  float64
 14  Region                   12084 non-null  float64
 15  TrafficType              12330 non-null  int64
 16  VisitorType              12330 non-null  object
 17  Weekend                  12330 non-null  object
 18  Revenue                  12183 non-null  object
dtypes: float64(9), int64(6), object(4)
memory usage: 1.8+ MB

In [18]:
columns = data_df.columns

for c in columns:
    print(data_df[c].value_counts())
    print()

Unnamed: 0
12329    1
0        1
1        1
2        1
3        1
        ..
13       1
14       1
15       1
16       1
17       1
Name: count, Length: 12330, dtype: int64

Administrative
 0     5704
 1     1341
 2     1101
 3      909
 4      757
 5      574
 6      428
 7      334
 8      285
 9      223
 10     153
 11     102
 12      84
 13      56
 14      44
 15      38
 16      24
-8       17
 17      16
-5       16
-6       16
-9       15
-7       14
-1       14
-3       13
 18      11
-10       6
-2        6
 19       6
-4        6
 24       4
 22       4
 23       3
 21       2
 20       2
 27       1
 26       1
Name: count, dtype: int64

Administrative_Duration
0.000      5898
4.000        56
5.000        53
7.000        45
11.000       42
           ...
112.125       1
344.500       1
698.500       1
60.875        1
500.000       1
Name: count, Length: 3345, dtype: int64

Informational
0     9699
1     1041
2      728
3      380
4      222
5       99
6       78
7       36
9       15
8       14
10       7
12       5
14       2
16       1
11       1
24       1
13       1
Name: count, dtype: int64

Informational_Duration
0.00       9925
9.00         33
6.00         26
10.00        26
7.00         26
           ...
376.00        1
127.50        1
97.75         1
17.25         1
1083.00       1
Name: count, Length: 1258, dtype: int64

ProductRelated
1      622
2      465
3      458
4      404
6      396
      ...
378      1
254      1
183      1
210      1
192      1
Name: count, Length: 311, dtype: int64

ProductRelated_Duration
0.000000       755
17.000000       21
11.000000       17
8.000000        17
15.000000       16
              ...
2674.339216      1
1656.410714      1
7453.766667      1
854.550000       1
4310.004668      1
Name: count, Length: 9551, dtype: int64

BounceRates
 0.000000    5241
 0.200000     653
 0.066667     126
 0.028571     113
 0.050000     109
             ...
 0.003205       1
 0.016216       1
-0.492097       1
-0.476621       1
 1.767990       1
Name: count, Length: 2408, dtype: int64

ExitRates
0.200000    710
0.100000    338
0.050000    329
0.033333    291
0.066667    267
           ...
0.020664      1
0.021904      1
0.012761      1
0.013953      1
0.012935      1
Name: count, Length: 4777, dtype: int64

PageValues
0.000000     9600
53.988000       6
42.293068       3
54.980000       2
58.924177       2
             ...
9.702113        1
7.256219        1
10.102222       1
25.967020       1
12.241717       1
Name: count, Length: 2704, dtype: int64

SpecialDay
0.0    10971
0.6      346
0.8      321
0.4      240
0.2      177
1.0      152
Name: count, dtype: int64

Month
May     3196
Nov     2998
Mar     1907
Dec     1727
Oct      549
Aug      433
Jul      432
Sep      359
June     288
Feb      184
Turc     168
Sept      89
Name: count, dtype: int64

OperatingSystems
2    6601
1    2585
3    2555
4     478
8      79
6      19
7       7
5       6
Name: count, dtype: int64

Browser
2.0     7835
1.0     2424
4.0      725
5.0      465
6.0      171
10.0     160
8.0      135
3.0      104
13.0      61
7.0       49
12.0      10
11.0       6
9.0        1
Name: count, dtype: int64

Region
1.0    4695
3.0    2345
4.0    1157
2.0    1113
6.0     787
7.0     743
9.0     501
8.0     427
5.0     316
Name: count, dtype: int64

TrafficType
2     3913
1     2451
3     2052
4     1069
13     738
10     450
6      444
8      343
5      260
11     247
20     198
9       42
7       40
15      38
19      17
14      13
18      10
16       3
12       1
17       1
Name: count, dtype: int64

VisitorType
Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: count, dtype: int64

Weekend
False        9273
True         2868
Name:Zara     189
Name: count, dtype: int64

Revenue
False    10303
True      1880
Name: count, dtype: int64

In [19]:
no_target_mask = data_df["Revenue"].isna()
name_zara_mask = data_df["Weekend"] == "Name:Zara"
data_df[name_zara_mask]

,Unnamed: 0,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
65,65,3,87.833333,0,0.0,27,798.333333,0.000000,0.012644,22.916036,0.8,Feb,2,2.0,3.0,1,Returning_Visitor,Name:Zara,True
70,70,0,0.000000,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,2,6.0,1.0,2,Returning_Visitor,Name:Zara,False
76,76,10,1005.666667,0,0.0,36,2111.341667,0.004348,0.014493,11.439412,0.0,Feb,2,6.0,1.0,2,Returning_Visitor,Name:Zara,True
104,104,3,58.500000,0,0.0,17,281.666667,0.007059,0.017647,0.000000,0.0,Feb,1,1.0,3.0,4,Returning_Visitor,Name:Zara,False
172,172,0,0.000000,0,0.0,3,55.000000,0.066667,0.100000,0.000000,0.6,Feb,1,1.0,1.0,3,Returning_Visitor,Name:Zara,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11918,11918,0,0.000000,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Nov,8,2.0,9.0,2,New_Visitor,Name:Zara,False
12058,12058,2,83.500000,2,125.5,11,213.947222,0.007692,0.003248,0.000000,0.0,Dec,3,2.0,5.0,2,Returning_Visitor,Name:Zara,False
12062,12062,2,233.500000,0,0.0,36,1081.666667,0.025000,0.046852,0.000000,0.0,Nov,2,2.0,9.0,1,Returning_Visitor,Name:Zara,False
12173,12173,0,0.000000,0,0.0,28,1023.125000,0.007143,0.028571,0.000000,NaN,Nov,2,2.0,3.0,2,Returning_Visitor,Name:Zara,False
12227,12227,5,116.000000,0,0.0,31,1350.258333,0.012903,0.023871,0.000000,0.0,Dec,3,2.0,8.0,2,Returning_Visitor,Name:Zara,False